.page_container {
    width: 100%;
    height: 600px;
}

#orders {
    height: 600px;
    overflow: auto;
}

#orders > div {
    border-bottom: 1px solid #EEE;
    padding: 10px 5px;
}

#github_badge {
    z-index: 2000;
    position: absolute;
    top: 0px;
    right: 0px;
}

body.mobile #github_badge {
    display: none;
}